<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8"/>
    <title>Krajee JQuery Plugins - &copy; Kartik</title>
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/font-awesome.min.css" rel="stylesheet"/>
    <link href="/style.css" rel="stylesheet"/>
    <link href="/star-rating.min.css" rel="stylesheet"/>
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/star-rating.min.js"></script>


<body>
<div class="container">
    <form>
        <input class="rating" data-max=5 data-min=0 data-size="lg" data-step=0.5 id="input-21b" required title=""
               type="text" value="4">
        <div class="clearfix"></div>
    </form>
</div>
</body>
</html>
