<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

	<meta charset="UTF-8"/>
	<title th:text="${game.game_zname}"></title>
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/table.css" rel="stylesheet"/>
    <link href="/x.css" rel="stylesheet"/>
    <link href="/style2.css" rel="stylesheet"/>
    <link href="/gameinfo.css" rel="stylesheet"/>
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/jquery.cookie.js"></script>
    <script src="/gameinfo.js"></script>
    <script src="/convgc.js"></script>
</head>

<body th:object="${game}">
<p th:text="*{game_id}"/>
<p th:text="*{game_zname}"/>
<p th:text="*{game_ename}"/>
<p th:text="*{game_pic_url}"/>
<p th:text="*{game_date}"/>
<p th:text="*{game_terrace}"/>
<p th:text="*{game_info}"/>
<p th:text="*{game_group}"/>
</body>
</html>