<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
	<head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
        <title>VideoGamesCriticism-评分</title>
        <link href="/x.css" rel="stylesheet"/>
        <link href="/style.css" rel="stylesheet"/>
		<link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
		<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
		<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<script src="/convgc.js"></script>
        <script src="/jquery.cookie.js"></script>
    <body id="top">

    <div class="ido" style="max-width:1370px">
        <div style="position:relative; z-index:2">
            <div class="itg gld">
                <div class="c1">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>游戏名称</th>
                            <th>游戏总分</th>
                            <th>个人评分</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>最终幻想7：重制版</td>
                            <td>1.8</td>
                            <td>2.5</td>
                        </tr>
                        <tr>
                            <td>影之诗1.8</td>
                            <td>3.1</td>
                            <td>2.5</td>
                        </tr>
                        <tr>
                            <td>街头霸王5：冠军版</td>
                            <td>3.8</td>
                            <td>2.0</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
			</div>
		</div>
    <div class="sel-text-win" id="sel-ext-win" style="display: none;"></div>
	</body>
</html>
