<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>VideoGamesCriticism</title>
		<link href="/x.css" rel="stylesheet" />
        <link href="/style.css" rel="stylesheet"/>
		<link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
		<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
		<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<script src="/index.js"></script>
        <script src="/convgc.js"></script>
		<script src="/jquery.cookie.js"></script>
    <body id="top">

		<div class="ido" style="max-width:1370px">
			<div id="toppane">
				<div id="searchbox" class="idi">
                    <form method="get" style="margin:0px; padding:0px">
                        <p class="nopm">
                            <input id="f_search" maxlength="200" name="f_search" placeholder="请输入关键词" size="50"
                                   type="text">
                            <input class="tagsub" type="button" value="搜索">
                            <input class="cleartag" type="button" value="清空">
                        </p>
						<div id="advdiv" style="display:none"></div>
					</form>
				</div>
				<div id="fsdiv" class="idi" style="margin-top:10px; display:none"></div>
			</div>
			<div style="position:relative; z-index:2">
				<div class="itg gld">
                    <div class="none">
                        <p>加载中。。。</p>
                    </div>
                </div>
			</div>
		</div>
		<div id="sel-ext-win" class="sel-text-win" style="display: none;"></div>
	</body>
</html>
