<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>VideoGamesCriticism</title>
		<link href="/x.css" rel="stylesheet" />
        <link href="/style2.css" rel="stylesheet"/>
		<link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
		<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
		<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<script src="/index.js"></script>
        <script src="/convgc.js"></script>
		<script src="/jquery.cookie.js"></script>
    <body id="top">

		<div class="ido" style="max-width:1370px">
			<div id="toppane">
				<div id="searchbox" class="idi">
					<form action="https://exhentai.org/" method="get" style="margin:0px; padding:0px"><input type="hidden" id="f_cats"
						 name="f_cats" value="0" disabled="disabled">
                        <!--
                                                <table class="itc">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <div class="cs ct2" id="cat_2" onclick="">RPG</div>
                                                            </td>
                                                            <td>
                                                                <div class="cs ct3" id="cat_4" onclick="">MOBA</div>
                                                            </td>
                                                            <td>
                                                                <div class="cs ct4" id="cat_8" onclick="">FPS</div>
                                                            </td>
                                                            <td>
                                                                <div class="cs ct5" id="cat_16" onclick="">TPS</div>
                                                            </td>
                                                            <td>
                                                                <div class="cs cta" id="cat_512" onclick="">TCG</div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="cs ct9" id="cat_256" onclick="">ACT</div>
                                                            </td>
                                                            <td>
                                                                <div class="cs ct6" id="cat_32" onclick="">FTG</div>
                                                            </td>
                                                            <td>
                                                                <div class="cs ct7" id="cat_64" onclick="">STG</div>
                                                            </td>
                                                            <td>
                                                                <div class="cs ct8" id="cat_128" onclick="">RTS</div>
                                                            </td>
                                                            <td>
                                                                <div class="cs ct1" id="cat_1" onclick="">AVG</div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                -->
                        <p class="nopm"><input id="f_search" maxlength="200" name="f_search" placeholder="请输入关键词"
                                               size="50"
                                               type="text"><input onclick="search_presubmit()" type="submit" value="搜索"><input
                                onclick=""
                                type="button" value="清空"></p>
						<div id="advdiv" style="display:none"></div>
					</form>
				</div>
				<div id="fsdiv" class="idi" style="margin-top:10px; display:none"></div>
			</div>
			<div style="position:relative; z-index:2">
				<div class="itg gld">

                </div>
			</div>
		</div>
		<div id="sel-ext-win" class="sel-text-win" style="display: none;"></div>
	</body>
</html>
