<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>VideoGamesCriticism-设置</title>
    <link href="/x.css" rel="stylesheet"/>
    <link href="/style.css" rel="stylesheet"/>
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/convgc.js"></script>
    <script src="/jquery.cookie.js"></script>
<body id="top">

<div class="ido" style="max-width:1370px">
    <div id="toppane">
        <div class="idi" id="searchbox">

        </div>
        <div class="idi" id="fsdiv" style="margin-top:10px; display:none"></div>
    </div>
    <div style="position:relative; z-index:2">
        <div class="itg gld">
            <div class="gm" id="cdiv"><a name="c0"></a>
                <div id="chd">
                    <p id="postnewcomment">
                        [<a class="comment" href="#formdiv">发起新评论</a>]
                    </p>
                </div>
                <a name="cnew"></a>
                <div id="formdiv">
                    <form action="#cnew" method="post">
                        <textarea name="commenttext_new" placeholder="发布评论注意遵守国家法律法规"></textarea>
                        <p><input type="submit" value="发表评论"></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="sel-text-win" id="sel-ext-win" style="display: none;"></div>
</body>
</html>
